body{ background-color: #FFF; margin: 0; padding: 0; border: none; font-family: "Roboto Slab", sans-serif; font-size: 18px; font-weight: 400; line-height: 27px; text-align: center; }
h1, h2, h3, h4, h5, h6{padding: 0; margin: 0; font-family: "Great Vibes", sans-serif; font-weight: 700; text-shadow: rgba(0, 0, 0, 0.3) 0px 2px 0px;}
h1{font-size:120px; line-height: 120%;  }
h2{line-height: 60px;}
h3{font-size:60px; line-height:1.2em; color: #333; font-family: "Roboto Slab", sans-serif;}
h4{font-size:50px; line-height:1.2em; color: #999;}
a{text-decoration:none; outline:none; font-weight: 400; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;}
a:link,a:visited{color:#0271c7;} a:hover{color:#adca6e;}
b{font-weight: 600;} i{  font-style: italic;}
iframe{border:none;overflow:hidden}

.amp{font-family: 'Roboto Slab', sans-serif;}
.isi{ padding: 60px 20px; margin:0; position:relative; }

.tampilan{position:relative; padding:0; margin:0; overflow: hidden; } 
.atas{
background-image:url(https://www.sebarundangan.id/themes/wedding-minimalist/assets/img/header-image.jpg);
position: relative;
Background-color: rgba(0,0,0,0.5);
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover; 
padding-top: 300px;
padding-bottom: 50px;
}
.atas:before{content: ""; position: absolute;background: #000;height: 100%; width: 100%;top:0; left:0; opacity: 0.2;filter: alpha(opacity=20); -o-transition:.5s; -ms-transition:.5s; -moz-transition:.5s; -webkit-transition:.5s; transition:.5s; }
.atas:hover:before{opacity: 0.1;filter: alpha(opacity=10);}

.atas .isi{color: #fff;}

.tanggal{position: relative; background: #fff;}
.tanggal:before{content: ""; position: absolute; background:url(/img/pattern.png) repeat-x; height:7px; top:-7px; left:0; width: 100%; }
.tanggal:after{content: ""; position: absolute; background:url(/img/pattern2.png) repeat-x; height:7px; right:0; bottom:-7px; width: 100%; }


.mempelai{background-size: cover; display: block; color: #fff; background-position: center center;  background-attachment: fixed;}
.laki {background-image: url(/img/laki.jpg);}
.wanita{background-image: url(/img/wanita.jpg);}

.arrum, .footer{background: #1e6c93; position: relative; color: #fff; }
.arrum .isi{font-size: 20px; line-height: 30px; font-family: "Roboto Slab", sans-serif; font-weight: 400; letter-spacing: -1px;}
.arrum:before, .footer:before{content: ""; position: absolute; background:url(/img/pattern3.png) repeat-x; height:7px; top:-7px; left:0; width: 100%; }
.arrum:after{content: ""; position: absolute; background:url(/img/pattern4.png) repeat-x; height:7px; right:0; bottom:-7px; width: 100%; }

.bawah{background: #ebe8de; padding-top: 50px; padding-bottom: 50px; border-bottom: 2px dashed #fff; font-weight: 400;}
.footer{margin-top: -17px; font-size: 12px; padding:10px 0;}
.footer a{color: #fff;}

.nama{font-size: 70px; font-weight: 200; color: #c2185b; letter-spacing: -1px; line-height: 110%;}
.garis{background:url(/img/underline.png) no-repeat; background-position: center center; height: 55px; width: 100%;}

/* Sentuhan RESPONSIVE
---------------------------------------------------------------------------------------------------------- */

/* 11a - Tampilan = Dibawah 600px
---------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:600px) {
}
/* 11a - Tampilan = 600px s/d 900px
---------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:601px) { 
.isi{ padding: 60px 30px;}
.data-laki{margin-right: 40%;}
.data-wanita{margin-left: 40%}
}
/* 11b - Tampilan = 900px s/d 1200px
---------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:1000px) {
.isi {width: 1050px; margin-left:auto; margin-right:auto;}
}
/* 11c - Tampilan = 1200px - 1400px
---------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:1200px) {
}
/* 11d - Tampilan diatas = 1400px
---------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:1400px) {
}
/* 11e - 1500 up */
@media screen and (min-width:1500px) {
}
/* 11f - 1800 up (increase base font size) */
@media screen and (min-width:1800px) {
}
/* 11g - 2000 up (increase base font size) */
@media screen and (min-width:2000px) {
}
/* 11h - 2400 up (increase margins) */
@media screen and (min-width:2400px) {
}
